.App {
  width: 90%;
  margin: 0 auto;
  color: #333;
}

.ChoixLangue {
  text-align: right;
  right: 3%;
}

.ChoixLangue {
  top: 40px;
  z-index: 1;
  position: absolute;
}


@media (max-width: 45.5em) {
  .App {
    width: 90%;
  }

  .ChoixLangue {
    top: 12px;
  }

}
